@model List<HackerNews.Models.BestStoriesModel>
@{
    ViewBag.Title = "Hacker News Best Stories";
}

<div class="jumbotron">
    <h1>Hacker News Best Stories</h1>
    <p>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "hackerNewsSearchForm", @class = "form-inline" }))
        {
            @Html.AntiForgeryToken()
            <label class="sr-only" for="inlineFormInputName2">Name</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="newsSearchText" name="newsSearchText" value="@ViewBag.newsSearchText" placeholder="Search Text">

            <button type="submit" class="btn btn-primary mb-2">Search</button>
            <button type="button" id="resetForm" class="btn btn-default mb-2">Reset</button>
        }
    </p>
</div>
<div class="row">
    @if (Model.Any())
    {
        // Loop through each story and create a DIV of COL 3 as they will wrap in the row
        foreach (var story in Model)
        {
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="card-header">@story.author</div>
                    <div class="card-block">@story.title</div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="col-md-12 text-center"><h3>No Stories Found</h3></div>
    }
</div>

@section Scripts {
    <script type="text/javascript" language="javascript">

        // When the reset button is clicked. we wipe the text field and submit the page
        $("#resetForm").click(function () {
            $("#newsSearchText").val("");
            $("#hackerNewsSearchForm").submit();
        });

    </script>
}